### Authors Data Analysis

In [1]:
import pandas as pd
import numpy as np

In [2]:
authors_df = pd.read_csv('data/Author Data.csv')
authors_df.head(30)

    author_id                     author_name
0           1                           yaksh
1           2                             XIT
2           3                    Daniel Meyer
3           4                    Seedify Fund
4           5          Ifedolapo Shiloh Olotu
5           6                           Brian
6           7                     Nick Babich
7           8                         Xerxemi
8           9                 Harry Alexander
9          10                       E2Analyst
10         11                       Crypto111
11         12    Professor Brent R. Stockwell
12         13                           Muzli
13         14                    Koh Rui Heng
14         15                   Nabil Alouani
15         16                  Lisa S. Gerard
16         17                 Dan H Mcinerney
17         18                    Linda Caroll
18         19                       Tyger A.C
19         20                           Chris
20         21                 Matt Ryan Allen
21         22                 Scott Priestley
22         23  PM^2 - Management & Innovation
23         24                       Ian Scott
24         25                   Frank Simpson
25         26        Marco van Hylckama Vlieg
26         27                Michael Macaulay
27         28                      Alon Barak
28         29             Ignacio de Gregorio
29         30        Mykola-Bohdan Vynnytskyi

### Preprocessing Authors meta data

#### No empty entries

In [3]:
authors_df.isna().sum()

author_id      0
author_name    0
dtype: int64

#### Use only ',' to seperate the names and replace it if there any other characters

In [4]:
import re
# Replace known separators with commas (only when used between words)
def normalize_author_name(name):
    if pd.isnull(name):
        return name
    # Replace pipe, slash, ampersand, hyphen (when used as a separator) with comma
    # Avoid replacing hyphens in hyphenated names like "Jean-Luc"
    name = re.sub(r'\s*[\|/&]\s*', ', ', name)
    return name.strip()

authors_df['author_name_cleaned'] = authors_df['author_name'].apply(normalize_author_name)

In [5]:
authors_df[authors_df['author_name'] == 'Render Network | RNDR Team']

    author_id                 author_name        author_name_cleaned
44         45  Render Network | RNDR Team  Render Network, RNDR Team

#### Confirms all authors are ',' seperated

In [6]:
no_comma_authors = authors_df[~authors_df['author_name'].str.contains(',', na=False)]

In [7]:
# Convert each name component to TitleCase
def to_camel_case(name):
    if pd.isnull(name):
        return name
    parts = [part.strip().title() for part in name.split(',')]
    return ', '.join(parts)

authors_df['author_name_cleaned'] = authors_df['author_name_cleaned'].apply(to_camel_case)

In [8]:
authors_df.head(10)

   author_id             author_name     author_name_cleaned
0          1                   yaksh                   Yaksh
1          2                     XIT                     Xit
2          3            Daniel Meyer            Daniel Meyer
3          4            Seedify Fund            Seedify Fund
4          5  Ifedolapo Shiloh Olotu  Ifedolapo Shiloh Olotu
5          6                   Brian                   Brian
6          7             Nick Babich             Nick Babich
7          8                 Xerxemi                 Xerxemi
8          9         Harry Alexander         Harry Alexander
9         10               E2Analyst               E2Analyst

In [9]:
authors_df[authors_df['author_name'] == 'Render Network | RNDR Team']

    author_id                 author_name        author_name_cleaned
44         45  Render Network | RNDR Team  Render Network, Rndr Team

In [10]:
def replace_names_in_parenthesis(name):
    if pd.isnull(name):
        return name
    return re.sub(r'\s*\([^)]*\)', '', name).strip()

In [11]:
authors_df[authors_df['author_name'].str.contains('\(', na=False)].head(30)

,author_id,author_name,author_name_cleaned
58,59,Kaoutar Tarik (È´òÈÅîÁÉà),Kaoutar Tarik (È´òÈÅîÁÉà)
232,233,Tarik Kaoutar (È´òÈÅîÁÉà),Tarik Kaoutar (È´òÈÅîÁÉà)
252,253,Alastair (Ali) Mitchell,Alastair (Ali) Mitchell
303,304,Dwayne Wong (Omowale),Dwayne Wong (Omowale)
398,399,Oluwatomilola (Cyberhawk),Oluwatomilola (Cyberhawk)
505,506,Gowthamaraj Rajendran (@fuffsec),Gowthamaraj Rajendran (@Fuffsec)
536,537,"(KJH) Kuan-Jung, Huang","(Kjh) Kuan-Jung, Huang"
548,549,Mateusz (meshcode),Mateusz (Meshcode)
586,587,Pundi X (writers),Pundi X (Writers)
637,638,LockTrip.com (LOC Token) Official Blog,Locktrip.Com (Loc Token) Official Blog
724,725,PartisiansNFT (PARTI.COM MASTER PASS),Partisiansnft (Parti.Com Master Pass)
749,750,Altcoins Guy ( #BNB ),Altcoins Guy ( #Bnb )
778,779,"TownStory SocialGame( üíô, üß° )","Townstory Socialgame( üíô, üß° )"
942,943,Andrew (Avraham) Blumenthal,Andrew (Avraham) Blumenthal
943,944,Murat Durmus (CEO @AISOMA_AG),Murat Durmus (Ceo @Aisoma_Ag)
1057,1058,Cesar Keller (CK),Cesar Keller (Ck)
1280,1281,Dmytro Nikolaiev (Dimid),Dmytro Nikolaiev (Dimid)
1316,1317,Gia Huy ( CisMine),Gia Huy ( Cismine)
1507,1508,"Naveen (Trainer, Mentor)","Naveen (Trainer, Mentor)"
1515,1516,Vu Hoang (Brian),Vu Hoang (Brian)
1646,1647,From nobody to CTO (nobody stage),From Nobody To Cto (Nobody Stage)
1786,1787,Pv Data(cloudvala),Pv Data(Cloudvala)
2401,2402,Guodong (Troy) Zhao,Guodong (Troy) Zhao
2493,2494,Anthony Lawrence (Pcunix),Anthony Lawrence (Pcunix)
2558,2559,Davide Riva Messi (DRM),Davide Riva Messi (Drm)
2603,2604,Deepak („Éá„Ç£„Éº„Éë„ÉÉ„ÇØ) (DK),Deepak („Éá„Ç£„Éº„Éë„ÉÉ„ÇØ) (Dk)
2668,2669,Jasper Vos (J Vos),Jasper Vos (J Vos)
2757,2758,Joongheum (‚ÄùPJ‚Äù) Park MD,Joongheum (‚ÄùPj‚Äù) Park Md
2858,2859,Anton (therceman),Anton (Therceman)
2880,2881,Vinay Jagetiya (princej_76),Vinay Jagetiya (Princej_76)

In [12]:
authors_df['author_name_cleaned']  = authors_df['author_name_cleaned'].apply(replace_names_in_parenthesis)

In [13]:
authors_df[authors_df['author_name'].str.contains('\(', na=False)].head(30)

,author_id,author_name,author_name_cleaned
58,59,Kaoutar Tarik (È´òÈÅîÁÉà),Kaoutar Tarik
232,233,Tarik Kaoutar (È´òÈÅîÁÉà),Tarik Kaoutar
252,253,Alastair (Ali) Mitchell,Alastair Mitchell
303,304,Dwayne Wong (Omowale),Dwayne Wong
398,399,Oluwatomilola (Cyberhawk),Oluwatomilola
505,506,Gowthamaraj Rajendran (@fuffsec),Gowthamaraj Rajendran
536,537,"(KJH) Kuan-Jung, Huang","Kuan-Jung, Huang"
548,549,Mateusz (meshcode),Mateusz
586,587,Pundi X (writers),Pundi X
637,638,LockTrip.com (LOC Token) Official Blog,Locktrip.Com Official Blog
724,725,PartisiansNFT (PARTI.COM MASTER PASS),Partisiansnft
749,750,Altcoins Guy ( #BNB ),Altcoins Guy
778,779,"TownStory SocialGame( üíô, üß° )",Townstory Socialgame
942,943,Andrew (Avraham) Blumenthal,Andrew Blumenthal
943,944,Murat Durmus (CEO @AISOMA_AG),Murat Durmus
1057,1058,Cesar Keller (CK),Cesar Keller
1280,1281,Dmytro Nikolaiev (Dimid),Dmytro Nikolaiev
1316,1317,Gia Huy ( CisMine),Gia Huy
1507,1508,"Naveen (Trainer, Mentor)",Naveen
1515,1516,Vu Hoang (Brian),Vu Hoang
1646,1647,From nobody to CTO (nobody stage),From Nobody To Cto
1786,1787,Pv Data(cloudvala),Pv Data
2401,2402,Guodong (Troy) Zhao,Guodong Zhao
2493,2494,Anthony Lawrence (Pcunix),Anthony Lawrence
2558,2559,Davide Riva Messi (DRM),Davide Riva Messi
2603,2604,Deepak („Éá„Ç£„Éº„Éë„ÉÉ„ÇØ) (DK),Deepak
2668,2669,Jasper Vos (J Vos),Jasper Vos
2757,2758,Joongheum (‚ÄùPJ‚Äù) Park MD,Joongheum Park Md
2858,2859,Anton (therceman),Anton
2880,2881,Vinay Jagetiya (princej_76),Vinay Jagetiya

In [14]:
authors_df = authors_df.drop(columns='author_name')
authors_df = authors_df.rename(columns={'author_name_cleaned': 'author_name'})

In [15]:
authors_df.columns

Index(['author_id', 'author_name'], dtype='object')

In [16]:
authors_df.to_csv('data/Authors_Data_Cleaned.csv', header=True, index=False)